body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
h1 {
  text-align: right;
  float: right;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}
canvas {
  clear: left;
  margin: 10px 0;
  background-color: black;
  border: 2px solid black;
}
#vbox-container {
  width: 960px;
  display: block;
  margin: 20px auto;
}
#pause-button {
  float: left;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: 1px solid gray;
  text-align: center;
  -webkit-user-select: none;
  cursor: pointer;
}
.pause-bar {
  float left;
  display: inline-block;
  width: 12px;
  height: 40px;
  margin: 10px 0;
  background-color: gray;
}
a {
  float: left;
  padding: 0;
  margin: 0 0 0 10px;
  border: 1px solid gray;
}
